<footer class="footer">
  <div class="footer-inner">
    <div class="footer-col">
      <h4>immurok</h4>
      <a href="/">Home</a>
      <a href="/#features">Features</a>
      <a href="/#pricing">Pricing</a>
      <a href="/blog/">Blog</a>
    </div>
    <div class="footer-col">
      <h4>Developers</h4>
      <a href="https://github.com/immurok" target="_blank">GitHub</a>
    </div>
    <div class="footer-col">
      <h4>Contact</h4>
      <a href="mailto:hello@immurok.com">hello@immurok.com</a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; {{ now.Year }} immurok
  </div>
</footer>
